
  .white-grad {
    height: 30vh;
  }
  .kid-filter-wrap {
    bottom: -100px;
    max-width: 75rem;
    .point {
      transform: translate3d(-2rem, -2rem,0) rotate(-135deg);
    }
  }
  .kid-text-area {
    .circle-34 {width:11rem;}
     .title-small {
      width: 27rem;
    }
    p{
      font-size: 2rem;
    }
  }