body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

// imports
@import "animations";
@import "common";
@import "components/menu";
@import "components/header";
@import "components/scroll";
@import "components/containers";
@import "components/grid";
@import "components/blu";
@import "components/dark";
@import "hamburgers";
@import "components/blu";
@import "components/kid";
