
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body,
html {
  margin: 0;
  padding: 0;
  color:white;
}

// imports
@import "animations";
@import "common";
@import "components/menu";
@import "components/header";
@import "components/scroll";
@import "components/containers";
@import "components/grid";
@import "components/blu";
@import "components/couch";
@import "components/hepa";
@import "components/pure-hepa";
@import "components/dark";
@import "hamburgers";
@import "components/blu";
@import "components/kid";
@import "components/contact";
@import "components/footer";
@import "components/items/modal"
