.hepa-section {
    min-height: 850px;
}
.hepa-text-area {
    .circle {
        width: 15rem;
        top: -14.75rem;
        left: -15rem;
    }
    .title {
        width: 41rem;
        top: -15.5rem;
    } 
}