.kidFilter {
    min-height: 850px;
}
.kid-text-area {
    .circle-34 {
        width: 15rem;
        top: -17.5rem;
        left: -16.5rem;
    }
    .title-large {
        width: 41rem;
        top: -18rem;
    } 
}