.pure-hepa {
    height: 70vh;
    max-height: 40vw;
    overflow: visible;
    .title {
        max-width: 40rem;
    }
}
.filter-graphic, .filter-layer {
    right: 3vw;
    // width: 32vw;
    // min-width: 45rem;
    max-width: 65%;
}
.filter-graphic {
    bottom: -6rem;
}
.filter-layer {
    top: -5rem;
}
