.dark-bg2 {
  background-color: black;
  height: 50vh;
  position: relative;
  overflow: visible;
  margin-top: -3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.dots2 {
  z-index: 999;
  right: -20%;
  position: absolute;
  bottom: -60vh;
  width: 40%;
  opacity: 0;
  transition: opacity 2s;
}
.text {
  padding: 1rem;
  width: 50vw;
  max-width: 120rem;
  opacity:0;
  transform: scale(1);
  transition: opacity 1s, transform 1s;
  position: relative;
  z-index: 99;
}

//animation
.active .text {
  opacity:1;
  transform: scale(1)!important;
}
.active .dots2 {
  opacity:1;
}
  
  @media (max-width:1024px){
    .dots2{
      width:60%;
      right: -30%;
      bottom: -150%;
    }
    .text {
      width: 70%;
    }
  
  }
  @media (max-width:768px) {
    .text {
      width: 100%;
    }
  }