.dark-bg {
  position: relative;
  height: calc(100vh - 90px);
  min-height: 800px;
  background: url(../../images/air-bg.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
  // overflow: hidden;
  transform-style: preserve-3d;
  perspective: 100px;
  box-shadow: inset 0 0 20vw 5vw black;
  //Zee
  z-index: 10;
}

.dark-title {
  margin: 0 auto;
}

.filter-house {
  overflow: hidden;
  width: 47rem;
  max-width: 65%;
  margin: 0 auto;
  clip-path: polygon(3% 0%, -3% 100%, 100% 100%, 96% 10%, 65% 1%);
  z-index: 15;
  position: absolute;
  left:0;
  right:0;
  top: 40%;
  opacity:0;
  transition: opacity 1s;
}

.dark-bg:before {
  animation: fade-slide-down 2s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  //   url(../images/background.png) no-repeat bottom;
  // background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)),
  //   url(../images/background.png) no-repeat bottom;
  // background-size: cover;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.dark-bg:after {
  // -webkit-animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  // animation: rotate-up 0.5s 0.5s cubic-bezier(0, 0.5, 0, 1) forwards;
  // background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  content: "";
  height: 40rem;
  position: absolute;
  top: 90%;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  z-index: 0;
}

.shadowFilter {
  position: absolute;
  top: -95px;
  right: -130px;
  height: 140%;
  width: 1000px;
  background: linear-gradient(-45deg, black,black,black, transparent,transparent);
}
.topShadow {
  height: 68%;
}

.shadowFade {
  position: absolute;
  top: 0px;
  left: 0;

  background: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1)
  );
  content: "";
  width: 100vw;
  height: 100rem;
  z-index: 9;
}

.light {
  position: relative;
  overflow: hidden;
}
.dots1{
  position: absolute;
  top: 10vh;
  left: 3vw;
  width: 30vw;
  z-index: 1;

}

//animation
.active .filter-house {
  opacity:1;
}
@media (max-width:1024px){
  .filter-house {
    position: relative;
    transform: translateY(9rem);
  }
  .dots1{
    width:60%;
    left: -30%;
    bottom:50%;
  }
}
@media (max-width:768px) {
  .dark-bg {
    min-height: unset;
  }
  .shadowFilter {
    left: -300px;
  }
}
