.kidFilter {
  position: relative;
  background-image: url("../../images/kid.png");
  background-repeat: no-repeat;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
